{% extends 'base.html' %}

{% block title %}Карточка товара{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <h3>Сменить пароль</h3>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <div style="width: 300px; margin: 0 auto;">
        <form method="POST" class="mt-4" onsubmit="return validatePasswords()">
            <div class="mb-3">
                <input type="password" id="old_password" name="old_password" class="form-control" placeholder="Текущий пароль" required>
            </div>
            <div class="mb-3">
                <input type="password" id="new_password" name="new_password" class="form-control" placeholder="Новый пароль" required>
            </div>
            <div class="mb-3">
                <input type="password" id="confirm_password" name="confirm_password" class="form-control" placeholder="Повторите пароль" required>
            </div>
            <p id="password_error" style="color: red; display: none;">Пароли не совпадают</p>
            <button type="submit" class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn">СОХРАНИТЬ</button>
        </form>
    </div>
</div>
{% endblock %}

