<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Политика конфиденциальности</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>body {margin:50px;background:#FFF} div {font-size:16px}
h1 {text-align:center; font-size:20px}
li { list-style-type: none;}
</style>
</head>
<body>
<h1>Политика конфиденциальности</h1>

<p align="center"><strong>(Положение об обработке персональных данных)</strong></p>


<li>1.Общие положения</li>

<p>Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона от 27.07.2006. №152-ФЗ &laquo;О персональных данных&raquo; и определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных, предпринимаемые Обществом с ограниченной ответственностью &laquo;Принт&raquo;, в лице генерального директора Сниткова Михаила Михайловича, действующего на основании устава &nbsp;(далее &ndash; Оператор).</p>
<p>Использование сервисов сайта &nbsp;<a href="https://www.cardson.ru">https://www.cardson.ru</a> (далее по тексту &laquo;сайт&raquo;) означает безоговорочное согласие Пользователя с Политикой конфиденциальности и указанными в ней условиями обработки его персональной информации. В случае несогласия с этими условиями Пользователь должен воздержаться от использования сайта и его сервисов.</p>
<ul>
<li>Оператор ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.</li>
<li>Настоящая политика Оператора в отношении обработки персональных данных (далее &ndash; Политика) применяется ко всей информации, которую Оператор может получить о посетителях сайта&nbsp;</li>
</ul>

<li>2.Основные понятия, используемые в Политике</li>

<p>2.1. Автоматизированная обработка персональных данных &ndash; обработка персональных данных с помощью средств вычислительной техники;</p>
<p>2.2. Блокирование персональных данных &ndash; временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных);</p>
<p>2.3. Сайт &ndash; совокупность графических и информационных материалов, а также программ для ЭВМ и баз данных, обеспечивающих их доступность в сети интернет по сетевому адресу <a href="https://www.cardson.ru">https://www.cardson.ru</a></p>
<p>2.4. Информационная система персональных данных &mdash; совокупность содержащихся в базах данных персональных данных, и обеспечивающих их обработку информационных технологий и технических средств;</p>
<p>2.5. Обезличивание персональных данных &mdash; действия, в результате которых невозможно определить без использования дополнительной информации принадлежность персональных данных конкретному Пользователю или иному субъекту персональных данных;<br /> 2.6. Обработка персональных данных &ndash; любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных;</p>
<p>2.7. Оператор &ndash; государственный орган, муниципальный орган, юридическое или физическое лицо, самостоятельно или совместно с другими лицами организующие и (или) осуществляющие обработку персональных данных, а также определяющие цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными;</p>
<p>2.8. Персональные данные &ndash; любая информация, относящаяся прямо или косвенно к определенному или определяемому Пользователю Сайта;</p>
<p>2.9. Пользователь &ndash; любой посетитель Сайта;</p>
<p>2.10. Предоставление персональных данных &ndash; действия, направленные на раскрытие персональных данных определенному лицу или определенному кругу лиц;<br /> 2.11. Распространение персональных данных &ndash; любые действия, направленные на раскрытие персональных данных неопределенному кругу лиц (передача персональных данных) или на ознакомление с персональными данными неограниченного круга лиц, в том числе обнародование персональных данных в средствах массовой информации, размещение в информационно-телекоммуникационных сетях или предоставление доступа к персональным данным каким-либо иным способом;</p>
<p>2.12. Трансграничная передача персональных данных &ndash; передача персональных данных на территорию иностранного государства органу власти иностранного государства, иностранному физическому или иностранному юридическому лицу;<br /> 2.13. Уничтожение персональных данных &ndash; любые действия, в результате которых персональные данные уничтожаются безвозвратно с невозможностью дальнейшего восстановления содержания персональных данных в информационной системе персональных данных и (или) уничтожаются материальные носители персональных данных.</p>

<li>3. Оператор может обрабатывать следующие персональные данные Пользователя</li>

<p>3.1. Фамилия, имя, отчество; пол; гражданство</p>
<p>3.2. Электронный, почтовый адрес;</p>
<p>3.3. Номера телефонов;</p>
<p>3.4. Паспортные данные, в том числе дата и место рождения, адрес регистрации.</p>
<p>3.5. Банковские реквизиты платежных&nbsp; карт</p>
<p>3.6. Ники и контакты в Телеграмм, в социальных сетях (при указании их Пользователем)</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3.7. Иные персональные данные, сообщаемые Заказчиком в анкетах и в переписках.</p>
<p>&nbsp;</p>
<p>Также на сайте происходит сбор и обработка обезличенных данных о посетителях (в т.ч. файлов &laquo;cookies&raquo;) с помощью сервисов интернет-статистики (Яндекс Метрика и Гугл Аналитика и других). Cookies необходимы для использования сайта, навигации по сайту и правильной работы его сервисов. Cookies могут содержать информацию&nbsp; о действиях Пользователя на сайте, в том числе введенную им информацию. Данные, хранимые в этих Cookies , доступны только для сайта и не могут быть как-либо использованы при посещении Пользователем других сайтов. Используя сайт, Пользователь соглашается на сохранение Cookies сайтом при помощи соответствующего стандартного механизма в интернет-браузере на его компьютере/смартфоне.</p>
<p>&nbsp;Вышеперечисленные данные далее по тексту Политики объединены общим понятием Персональные данные.</p>
<p>&nbsp;</p>

<li>4. Цели обработки персональных данных</li>

<p>4.1. Цель обработки персональных данных Пользователя &mdash; информирование Пользователя посредством отправки электронных писем, сообщений по указанным Пользователем контактам; заключение, исполнение и прекращение гражданско-правовых договоров, в том числе публичной оферты; предоставление доступа Пользователю к сервисам, информации и/или материалам, содержащимся на сайте, в личном кабинете, на платформе.</p>
<p>4.2. Также Оператор имеет право направлять Пользователю уведомления о новых продуктах и услугах, специальных предложениях и различных событиях. Пользователь всегда может отказаться от получения информационных сообщений, направив Оператору письмо с пометкой &laquo;Отказ от уведомлений о новых продуктах и услугах и специальных предложениях&raquo; на адрес электронной почты, указанной на Сайте.</p>
<p>4.3. Обезличенные данные Пользователей, собираемые с помощью сервисов интернет-статистики, служат для сбора информации о действиях Пользователей на сайте, улучшения качества сайта и его содержания.</p>
<p>&nbsp;</p>
<p>4.4. Основные права и обязанности Оператора.</p>
<p>&nbsp;Оператор имеет право:</p>
<ul>
<li>самостоятельно определять состав и перечень мер, необходимых и достаточных для обеспечения выполнения обязанностей, предусмотренных Законом о персональных данных и принятыми в соответствии с ним нормативными правовыми актами, если иное не предусмотрено Законом о персональных данных или другими федеральными законами;</li>
<li>поручить обработку персональных данных другому лицу на основании заключаемого с этим лицом договора. Лицо, осуществляющее обработку персональных данных по поручению Оператора, обязано соблюдать принципы и правила обработки персональных данных, предусмотренные Законом о персональных данных. такое поручение необходимо в целях заключения, исполнения и прекращения оферты, выполнения иных запросов Пользователя;</li>
<li>в случае отзыва субъектом персональных данных согласия на обработку персональных данных Оператор вправе продолжить обработку персональных данных без согласия субъекта персональных данных при наличии оснований, указанных в Законе о персональных данных.</li>
</ul>
<p><u>&nbsp;</u></p>
<p><u>&nbsp;Оператор обязан:</u></p>
<ul>
<li>организовывать обработку персональных данных в соответствии с требованиями Закона о персональных данных;</li>
<li>отвечать на обращения и запросы субъектов персональных данных и их законных представителей в соответствии с требованиями Закона о персональных данных.</li>
</ul>
<p>&nbsp;</p>
<p>4.5. Основные права субъекта персональных данных.</p>
<p>Субъект персональных данных имеет право:</p>
<ul>
<li>получать информацию, касающуюся обработки его персональных данных, за исключением случаев, предусмотренных федеральными законами. Сведения предоставляются субъекту персональных данных Оператором в доступной форме, и в них не должны содержаться персональные данные, относящиеся к другим субъектам персональных данных, за исключением случаев, когда имеются законные основания для раскрытия таких персональных данных. Перечень информации и порядок ее получения установлен Законом о персональных данных;</li>
<li>требовать от оператора уточнения его персональных данных, их блокирования или уничтожения в случае, если персональные данные являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки, а также принимать предусмотренные законом меры по защите своих прав;</li>
<li>выдвигать условие предварительного согласия при обработке персональных данных в целях продвижения на рынке товаров, работ и услуг.</li>
</ul>
<p>&nbsp;</p>
<p>4.6. Контроль за исполнением требований настоящей Политики осуществляется уполномоченным лицом, ответственным за организацию обработки персональных данных у Оператора.</p>
<p>4.7. Ответственность за нарушение требований законодательства Российской Федерации и нормативных актов Оператора в сфере обработки и защиты персональных данных определяется в соответствии с законодательством Российской Федерации.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

<li>5. Правовые основания обработки персональных данных</li>

<p>5.1. Оператор обрабатывает персональные данные Пользователя только в случае их заполнения и/или отправки Пользователем самостоятельно через специальные формы, расположенные на Сайте. Заполняя соответствующие формы и/или отправляя свои персональные данные Оператору, Пользователь выражает свое согласие с данной Политикой.</p>
<p>5.2. Оператор обрабатывает обезличенные данные о Пользователе в случае, если это разрешено в настройках браузера Пользователя (включено сохранение файлов &laquo;cookie&raquo; и использование технологии JavaScript).</p>
<p>&nbsp;</p>

<li>6. Порядок сбора, хранения, передачи и других видов обработки персональных данных Безопасность персональных данных, которые обрабатываются Оператором, обеспечивается путем реализации правовых, организационных и технических мер, необходимых для выполнения в полном объеме требований действующего законодательства в области защиты персональных данных.</li>

<p>6.1. Оператор обеспечивает сохранность персональных данных и принимает все возможные меры, исключающие доступ к персональным данным неуполномоченных лиц.<br /> 6.2. Персональные данные Пользователя никогда, ни при каких условиях не будут переданы третьим лицам, за исключением случаев, указанных в настоящей Политике и связанных с исполнением действующего законодательства.</p>
<p>6.3. В случае выявления неточностей в персональных данных, Пользователь может актуализировать их самостоятельно, путем направления Оператору уведомление на адрес электронной почты Оператора с пометкой &laquo;Актуализация персональных данных&raquo;.</p>
<p>6.4. Срок обработки персональных данных составляет&nbsp; 5 лет. Пользователь может в любой момент отозвать свое согласие на обработку персональных данных, направив Оператору уведомление посредством электронной почты на электронный адрес Оператора с пометкой &laquo;Отзыв согласия на обработку персональных данных&raquo;.<br /> <br />
</p>
<li> 7. Заключительные положения</li>
<p>7.1. Пользователь может получить любые разъяснения по интересующим вопросам, касающимся обработки его персональных данных, обратившись к Оператору с помощью электронной почты.</p>
<p>7.2. В данном документе будут отражены любые изменения политики обработки персональных данных Оператором. Политика действует бессрочно до замены ее новой версией.<br /> </p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<table>
<tbody>
<tr>
<td>
<p><strong>Оператор:&nbsp;</strong></p>
<p>ООО &laquo;Принт&raquo;</p>
</td>
<td>&nbsp;</td>
</tr>
<tr>
<td colspan="2">
<p>427168, Удмуртская респ., Игринский м.р-н, Факельское с.п., Факел с., Красная ул., д. 14, кв. 2,</p>
<p>Расчётный счёт: 40702810838000094502 Банк: ПАО СБЕРБАНК БИК: 044525225 Кор. Cчёт: 30101810400000000225 ОГРН: 1203200003863 ИНН: 3245017991 КПП: 183101001, 324501001</p>
<p><strong>&nbsp;</strong></p>
<p>Обратная связь доступна через контакт, зарегистрированный в Telegram: @cardsonhelp</p>
</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>Генеральный директор: Снитков Михаил Михайлович&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
<p>&nbsp;</p>
</body>
</html>