<div class="row">
              <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-danger card-img-holder text-white">
                  <div class="card-body">
                    <img src="static/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image">
                    <h4 class="font-weight-normal mb-3">Рейтинг среди всех авторов <i class="mdi mdi-rocket mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5">{{ rating }}</h2>
                    <h6 class="card-text">
                        {% if 1 <= rating <= 3 %}
                            <i class="mdi mdi-diamond"></i> top 3
                        {% elif 4 <= rating <= 10 %}
                            <i class="mdi mdi-star"></i> top 10
                        {% endif %}

                    </h6>
                  </div>
                </div>
              </div>
              <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-info card-img-holder text-white">
                  <div class="card-body">
                    <img src="static/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image">
                    <h4 class="font-weight-normal mb-3">Карточек товаров сделано <i class="mdi mdi-cards-outline mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5">{{ difference_in_cards }}</h2>
                        <h6 class="card-text">
                            {% if difference_in_cards > 0 %}
                            <i class="mdi mdi-arrow-up"></i> Рост на {{ difference_in_cards }} за неделю
                        {% elif difference_in_cards < 0 %}
                            <i class="mdi mdi-arrow-down"></i> Падение на {{ difference_in_cards }} за неделю
                        {% endif %}
                        </h6>
                        <h6 class="card-text">
                        {% if check_max_cards %}
                            <i class="mdi mdi-code-greater-than"></i>
                        {% endif %}{{ check_max_cards }}</h6>
                  </div>
                </div>
              </div>
              <div class="col-md-4 stretch-card grid-margin">
                <div class="card bg-gradient-success card-img-holder text-white">
                  <div class="card-body">
                    <img src="static/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image">
                    <h4 class="font-weight-normal mb-3">Заказов за неделю на сумму, ₽ <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5">{{ sum_money }}</h2>
                    <h6 class="card-text"> <i class="mdi mdi-elevation-rise"></i>Изменение на {{ difference_in_money }} руб. от предыдущей</h6>
                  </div>
                </div>
              </div>
            </div>
