<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Оферта</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>body {margin:50px;background:#FFF} div {font-size:16px} h1 {text-align:center; font-size:20px}
li {text-align:center;    list-style-type: none;}</style>
</head>
<body>
<h1>ПАРТНЕРСКОЕ СОГЛАШЕНИЕ</h1>
<p>&nbsp;</p>

<p>Общество с ограниченной ответственностью &laquo;Принт&raquo;, в лице генерального директора Сниткова Михаила Михайловича, действующего на основании устава, далее именуемое &laquo;Общество&raquo;,&nbsp; настоящим предлагает любому дееспособному физическому лицу, имеющему статус &laquo;Самозанятого&raquo; и принявшему условия данного публичного соглашения, вступить с Обществом в отношения по совместному созданию объектов продаж (товара) в целях извлечения прибыли каждой стороной на условиях, указанных в настоящем партнерском соглашении:</p>
<p>&nbsp;</p>
<p align="center">Преамбула</p>
<p>Настоящее партнерское соглашение является публичным (имеет статус оферты) и в соответствии с п. 2 ст. 437 Гражданского Кодекса РФ в случае принятия изложенных ниже условий лицо, производящее Акцепт этого соглашения, становится Партнером Общества (в соответствии с п. 3 ст. 438 ГК РФ акцепт оферты равносилен заключению договора на условиях, изложенных в оферте).</p>
<p>Партнером может быть физическое лицо, достигшее 18 лет и имеющее статус &laquo;самозанятого&raquo;.</p>
<p>Целью заключения настоящего соглашения является извлечение прибыли каждой из Сторон. Обе Стороны принимают на себя взаимные обязательства по отношению друг к другу.</p>
<p>&nbsp;</p>

<li>1.  Порядок Акцепта. Приобретение статуса Партнера</li>

<p>&nbsp;</p>
<p>1.1. Лицо, желающее приобрести статус Партнера на условиях, изложенных в настоящем соглашении, предоставляет Обществу свои контактные данные, а именно: фамилию, имя, отчество, адрес электронной почты, номер телефона, адрес регистрации, паспортные данные посредством заполнения специальной формы на Сайте Общества по адресу: <a href="https://www.cardson.ru/">https://www.cardson.ru/</a> &nbsp;</p>
<p>Передача этих данных означает Акцепт таким лицом настоящего соглашения.</p>
<p>Лицо, передающее перечисленные контактные данные Обществу, несет полную ответственность, предусмотренную действующим законодательством, за достоверность этих данных и за принадлежность этих данных самому лицу.</p>
<p>Лицо, производящее Акцепт, должно иметь статус &laquo;самозанятого&raquo;. Предполагается, что лицо, совершившее Акцепт, имеет такой статус и берет на себя полную ответственность за нарушение данного условия, в том числе и после прекращения у него такого статуса.</p>
<p>1.2. Общество на основании полученных контактных данных дает такому лицу доступ к личному кабинету Партнера.</p>
<p>При этом под &laquo;предоставлением доступа&raquo; понимается направление логина/пароля либо ссылки для перехода в личный кабинет.&nbsp; Данные для доступа направляются либо на адрес электронной почты и/или путем направления на иные контакты Партнера, указанные им. В случае неполучения логина/пароля или ссылки для доступа к личному кабинету Партнер обязан незамедлительно сообщить об этом Обществу и несёт риск такого несообщения.</p>
<p>1.3. Приобретение статуса Партнера не обусловлено внесением какого-либо входного денежного платежа.</p>
<p>1.4. Партнер считается лицом, временно владеющим программными продуктами Общества и имеет право:</p>
<p>■ на использование зарегистрированного за ним личного кабинета и всех сервисов, доступных Партнеру в этом личном кабинете, в течение всего времени действия статуса Партнера;</p>
<p>■ на получение совместного с Обществом дохода от выполнения Партнером своих работ, указанных в разделе 2 настоящего соглашения, в размерах, определенных настоящим соглашением.</p>
<p>1.5. Статус Партнера выдается бессрочно и может быть прекращен таким лицом в любой момент по собственной инициативе, а также по другим основаниям, указанным в настоящем соглашении.</p>
<p>&nbsp;</p>

<li>2.  Работы, выполняемые Партнером. Порядок сотрудничества. Авторские права.</li>

<p>2.1. По настоящему соглашению Партнер принимает на себя обязательства по разработке дизайнерских авторских изображений, используемых для последующей печати Обществом таких изображений на различных предметах. Печать изображений на предметы осуществляется Обществом.</p>
<p>Готовый предмет с нанесенным на него изображением, разработанным Партнером (далее &ndash; &laquo;товар&raquo;), Общество реализует от своего имени путем продажи на маркетплейсах Wildberries / OZON. Прядок получения и распределения прибыли от продажи такого товара установлено разделом 3 настоящего соглашения.</p>
<p>2.2. Разрабатываемые Партнером изображения должны соответствовать нормам морали, нравственности, не нарушать авторские права третьих лиц (не копировать уже имеющиеся изображения). Не допускается использование известных героев, аниме, людей, имеющихся торговых наименований, брендов, торговых знаков и марок. &nbsp;</p>
<p>2.3. Партнер вправе по своему усмотрению определять сроки выполнения работ, объем работ, направление разрабатываемых изображений (с соблюдением требований к ним).</p>
<p>2.4. Общество оставляет за собой право отбора предоставленных Партнером изображений для последующей их печати на предметах. &nbsp;Могут быть приняты к печати как все предоставленные Партнером изображения, так и их часть.</p>
<p>Общество вправе указывать Партнеру о необходимости внесения каких-либо корректировок в разработанные Партнером изображения.</p>
<p>2.5. Партнер вправе самостоятельно определять режим работы, график работы. &nbsp;</p>
<p>2.6. Партнер не вправе использовать личный кабинет и его сервисы для выполнения подобного рода работ другим лицам. При выявлении нарушения Партнером данного условия, Общество вправе расторгнуть настоящее соглашение в одностороннем внесудебном порядке.</p>
<p>2.7. Стороны пришли к соглашению, что исключительные авторские права на разработанные Партнером изображения переходят к Обществу с момента их передачи (выгрузки) Партнером в личном кабинете. Отсутствие подписанного между Сторонами отдельного акта приема &ndash;передачи изображений не лишает Общество прав, установленных настоящим разделом.</p>
<p>Настоящий раздел соглашения является соглашением о передаче Партнером своих исключительных авторских прав на изображения Обществу. Условие о вознаграждении Партнеру за передачу таких исключительных прав указано в разделе 3 настоящего соглашения (входит в выплаты Партнеру).&nbsp;</p>
<p>Общество приобретает исключительные права на изображения в полном объеме для использования их любым способами, перечисленными в ст. ст. 1229, 1270 Гражданского кодекса Российской Федерации. В частности, но не ограничиваясь, Общество вправе использовать переданные ему изображения для их печати на различных предметах в целях дальнейшей продажи таких предметов широкому кругу покупателей.&nbsp;</p>
<p>Партнер гарантирует, что исключительное право на создаваемые им изображения не будет обременено правами и притязаниями третьих лиц, а также не обременено каким-либо другим способом. Партнер не сохраняет за собой право предоставлять аналогичные права на такие изображения третьим лицам.</p>
<p>&nbsp;</p>

<li>3.  Порядок распределения прибыли</li>

<p>3.1. Все денежные средства от продажи товаров поступают на расчетный счет Общества как продавца на соответствующем маркетплейсе. &nbsp;</p>
<p>3.2. Каждый Партнер получает 15 % (пятнадцать процентов) от чистой прибыли, полученной за продажу каждой единицы товара с изображением, разработанным Партнером. НДС не облагается. Порядок выплат:&nbsp; один раз в месяц.</p>
<p>Выплаты производятся только после реализации товара на маркетплейсе. Если за отчетный месяц продаж товара не осуществлялось, выплаты не производятся.</p>
<p>3.3. Расчеты с Партнером производятся в безналичном порядке одним из следующих способов по выбору самого Партнера (Партнер должен указать способ перечисления):</p>
<p>- по реквизитам банковской карты, предоставленные Партнером;</p>
<p>- по реквизитам&nbsp; расчетного счета, предоставленные Партнером;</p>
<p>- через сервис электронных платежей.</p>
<p>3.4. <em>Стороны пришли к соглашению, что Общество не выступает налоговым агентом, не удерживает налог из вознаграждения Партнера и не начисляет на вознаграждение страховые взносы, так как Партнер обязуется их самостоятельно исполнять. В случае неисполнения данной обязанности Партнер возмещает Обществу все причиненные таким неисполнением убытки. </em>Партнер принимает на себя обязательство самостоятельно оплачивать налоги и иные обязательные платежи, подлежащие уплате в размерах, предусмотренных действующим законодательством. Ответственность за своевременность и правильность уплаты таких платежей несет Партнер.</p>
<p>&nbsp;</p>

<li>4.  Ответственность Сторон соглашения</li>

<p>4.1. <em>В том случае, если Общество понесет убытки вследствие ненадлежащего выполнения Партнером своих обязательств, Партнер компенсирует Обществу такие убытки. </em></p>
<p><em>4.2. Партнер гарантирует, что при разработке им изображений он никаким образом не нарушает авторские права иных лиц, не копирует имеющиеся изображения, разработанные иными лицами. В противном случае Общество вправе требовать возмещения всех причиненных этим убытков. При этом Партнер обязуется принимать меры к урегулированию всех претензий третьих лиц о нарушении их авторских прав, включая обязанность доказывания права на спорные изображения. </em></p>
<p>&nbsp;</p>

<li>5.  Порядок разрешения споров</li>

<p>5.1. Все&nbsp; споры&nbsp; и&nbsp; разногласия&nbsp; между&nbsp; Сторонами&nbsp; по&nbsp; настоящему&nbsp; соглашению&nbsp; разрешаются&nbsp; путем переговоров. В случае недостижения согласия в результате переговоров указанные разногласия и спорные вопросы&nbsp; разрешаются&nbsp; в&nbsp; соответствии&nbsp; с&nbsp; действующим&nbsp; законодательством&nbsp; в&nbsp; претензионном (досудебном) порядке. Срок рассмотрения претензии составляет 15 (пятнадцать) рабочих дней.</p>
<p>5.2. При отклонении претензии полностью или частично, либо неполучении ответа в установленные для ее рассмотрения сроки, потерпевшая Сторона вправе предъявить иск в Арбитражный суд&nbsp; по месту регистрации Общества.</p>
<p>&nbsp;</p>

<li>6.  Порядок прекращения статуса Партнера</li>

<p>6.1. Настоящее партнерское соглашение может быть прекращено в следующих случаях:</p>
<p>■ по соглашению сторон;</p>
<p>■ в одностороннем внесудебном порядке самим Партнером в любое время путем уведомления об этом Общество;</p>
<p>■ в одностороннем внесудебном порядке Обществом в любое время.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<table>
<tbody>
<tr>
<td>
<p><u>Реквизиты Общества: &nbsp;&nbsp;</u><u>ООО "ПРИНТ" </u></p>
<p>427168, Удмуртская респ., Игринский м.р-н, Факельское с.п., Факел с., Красная ул., д. 14, кв. 2,</p>
<p>Расчётный счёт: 40702810838000094502 <br />
Банк: ПАО СБЕРБАНК <br />
БИК: 044525225 <br />
Кор. Cчёт: 30101810400000000225 <br />
ОГРН: 1203200003863 <br />
ИНН: 3245017991 <br />
КПП: 183101001, 324501001</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>Генеральный директор: Снитков Михаил Михайлович</p>
</body>
</html>