<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Kartink.in - создавайте картинки для товаров на WB и Ozon</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../static/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../../static/assets/css/style.css">
    <link rel="stylesheet" href="../../static/css/index.css">

</head>

<body>
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img class="" src="/static/assets/images/logo-mini-4.png" alt="" width="150" height="45">
        </a>
      <ul class="nav col-12 col-md-auto mb-2 justify-content-right mb-md-0">
        <li><a href="#thirdPage" class="nav-link px-3 link-secondary me-2">О платформе</a></li>
        <li><a href="#kak_zarabativat" class="nav-link px-3 me-2">Как зарабатывать</a></li>
      </ul>
      <div class="col-md-5 text-end">
        <a href="/login" class="btn btn-outline-primary me-2">ВОЙТИ</a>
        <a href="/registration" class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn">Зарегистрироваться</a>
      </div>
    </header>
</div>

<div id="modalBg" class="modalBg"></div>
    <div id="modal" class="modall">
        <div class="modal__head">
            <div class="header__logo">
                <div class="header__logoFont wordСard">card</div>
                <div class="header__logoFont wordSon">son</div>
            </div>
            <img src="images/arrow_back.svg" class="header__menu" alt="close" onclick="closeModal()">
        </div>
        <div class="modal__links">
            <a onclick="closeModal()" href="#secondPage" class="header__link">О проекте</a>
            <a onclick="closeModal()" href="#thirdPage" class="header__link">Как работает?</a>
            <a onclick="closeModal()" href="#lastPage" class="header__link">Наши авторы</a>
        </div>
        <div class="end_div">
            <a onclick="closeModal()" href="#form" class="header__registrationButton modal__button">
                Pегистрация
            </a>
        </div>
    </div>
    <div class="rootContainer">

        <div id="mainPage" class="mainPage">
            <div class="mainPage__backgroundTips">
                <div id="stickers" class="mainPage__cards mediaPhoneHidden">
                    <div class="sticker mainPage__sticker1">
                        <img src="../static/images/sticker1.svg" alt="стикер" class="sticker__img">
                    </div>
                    <div class="sticker mainPage__sticker2">
                        <img src="../static/images/sticker2.svg" alt="стикер" class="sticker__img">
                    </div>
                </div>
                <div id="icons" class="mainPage__cards mediaPhoneHidden">
                    <div class="mainPage__icon1 icon">
                        <img class="icon_img" src="../static/images/icon_1.png" alt="иконка">
                    </div>
                    <div class="mainPage__icon2 icon mediaHidden">
                        <img class="icon_img" src="../static/images/icon_2.png" alt="иконка">
                    </div>
                    <div class="mainPage__icon3 icon">
                        <img class="icon_img" src="../static/images/icon_3.png" alt="иконка">
                    </div>
                    <div class="mainPage__icon4 icon mediaHidden">
                        <img class="icon_img" src="../static/images/icon_4.png" alt="иконка">
                    </div>
                </div>

            </div>
            <div id="circle" class="mainPage__circle"></div>

            <div class="content mainPage__content">
                <h1 class="mainPage__title">
                    Создавайте картинки для товаров и зарабатывайте деньги
                </h1>

                <a href="/registration" class="redButton btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn">НАЧАТЬ</a>
                <a href="#videoPage" class="mainPage__videoLink videoLink">Как это работает?</a>
                <img id="window" class="mainPage__window" src="../static/images/window.png" alt="window">

            </div>
        </div>
        <br><br>
        <div id="secondPage " class="secondPage">
            <div class="content secondPage__content container"><br>
                <h2 class="secondPage__title">Придумываете картинки вы, продаём товары с картинами мы</h2><br>
                <div class="secondPage__cardsContainer">
                    <div class="row secodPageRow">
                        <div class="col-4">
                            <div class="secondPage__card ">
                                <div class="secondPage__cardInfoContainer">
                                    <div class="secondPage__cardTitle">Более</div>
                                    <div class="secondPage__cardNumber">500+</div>
                                    <div class="secondPage__cardDesc">Партнёров из России и стран СНГ</div>
                                </div>
                                <div class="secondPage__cardImageContainer">
                                    <img class="secondPage__card1Icon3 secondPage__icon" src="../static/images/icon_3.png"
                                        alt="иконка">
                                    <img class="secondPage__card1Icon2 secondPage__icon" src="../static/images/icon_2.png"
                                        alt="иконка">
                                    <img class="secondPage__card1Icon1 secondPage__icon" src="../static/images/icon_1.png"
                                        alt="иконка">
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="secondPage__card ">
                                <div class="secondPage__cardInfoContainer">
                                    <div class="secondPage__cardTitle">Создано</div>
                                    <div class="secondPage__cardNumber">30 000+</div>
                                    <div class="secondPage__cardDesc">Карточек создано за год</div>
                                </div>
                                <div class="secondPage__cardImageContainer">
                                    <img class="secondPage__card2Icon3 secondPage__icon" src="../static/images/card_3.png"
                                        alt="карточка">
                                    <img class="secondPage__card2Icon2 secondPage__icon" src="../static/images/card_2.png"
                                        alt="карточка">
                                    <img class="secondPage__card2Icon1 secondPage__icon" src="../static/images/card_1.png"
                                        alt="карточка">
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="secondPage__card ">
                                <div class="secondPage__cardInfoContainer">
                                    <div class="secondPage__cardTitle">Средний заработок</div>
                                    <div class="secondPage__cardNumber">60 000+ ₽</div>
                                    <div class="secondPage__cardDesc">У наших партнёров</div>
                                </div>
                                <div class="secondPage__cardImageContainer">
                                    <img class="secondPage__card3Icon2 secondPage__icon" src="../static/images/stat_2.png"
                                        alt="карточка">
                                    <img class="secondPage__card3Icon1 secondPage__icon" src="../static/images/stat_1.png"
                                        alt="карточка">
                                </div>
                            </div>
                        </div>
                        <div class="secondPage__bottomFrame col-12">
                            <div class="secondPage__bottomFrameLeftBlock col-6 ">
                                <div class="secondPage__bottomFrameTitle">После регистрации
вы автоматически попадёте на платформу.
                                </div>
                                <div class="wrappedText secondPage__bottomFrameDesc">
                                    <div class="wrappedText__wrapper"></div>
                                    <div class="wrappedText__title">Быстрая регистрация</div>
                                </div>

                            </div>
                            <div class="secondPage__bottomFrameRightBlock">
                                <div class="secondPage__bottomFrameImgContainer">
                                    <div class="secondPage__bottomFrameImgText">Мы ждём вас!</div>
                                    <img src="../static/images/arrow.svg" class="secondPage__bottomFrameImg" alt="стрелка">
                                </div>
                                <a href="/registration" class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn btn-rounded">ЗАРЕГИСТРИРОВАТЬСЯ</a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div id="thirdPage" class="thirdPage">
            <div class="thirdPage__topBorder "></div>
            <div class="content thirdPage__content container">
                <h2 class="thirdPage__title">Всего 3 шага до вашего дохода</h2>
                <div class="thirdPage__cardsContainer">
                    <div class="row thirdpagerow">
                        <div class="thirdPage__card col-10">
                            <div class="thirdPage__number">
                                01
                            </div>
                            <div class="thirdPage__cardContainer">
                                <h3 class="thirdPage__cardTitle">Регистрация</h3>
                                <div class="thirdPage__cardDesc">Пройдёте за 20 минут</div>
                                <div class="thirdPage__cardText">Простая регистрация на сайте с указанием Ваших данных.
                                    Ознакомление с Офертой и закрепление за куратором.
                                </div>
                                <div class="thirdPage__cardIconsContainer">
<!--                                    <div class="thirdPage__smileContainer thirdPage__smile1">-->
<!--                                        <img class="thirdPage__smile" src="images/smile_1.png" alt="смайл">-->
<!--                                    </div>-->
<!--                                    <div class="thirdPage__smileContainer thirdPage__smile2">-->
<!--                                        <img class="thirdPage__smile" src="images/smile_2.png" alt="смайл">-->
<!--                                    </div>-->
                                </div>
                            </div>
                        </div>
                        <div class="thirdPage__card col-10">
                            <div class="thirdPage__number">
                                02
                            </div>
                            <div class="thirdPage__cardContainer">
                                <h3 class="thirdPage__cardTitle">Обучение</h3>
                                <div class="thirdPage__cardDesc">Обучим за 120 минут</div>
                                <div class="thirdPage__cardText">
                                    Обучение займёт не более 2-х часов. После этого вы сможете создать и выложить свою
                                    первую
                                    карточку и заработать деньги
                                </div>
                                <div class="thirdPage__cardIconsContainer">
<!--                                    <div class="thirdPage__smileContainer thirdPage__smile1">-->
<!--                                        <img class="thirdPage__smile" src="images/smile_3.png" alt="смайл">-->
<!--                                    </div>-->
<!--                                    <div class="thirdPage__smileContainer thirdPage__smile2">-->
<!--                                        <img class="thirdPage__smile" src="images/smile_4.png" alt="смайл">-->
<!--                                    </div>-->
                                </div>
                            </div>
                        </div>
                        <div class="thirdPage__card col-10">
                            <div class="thirdPage__number">
                                03
                            </div>
                            <div class="thirdPage__cardContainer">
                                <h3 class="thirdPage__cardTitle">Зарабатываем</h3>
                                <div class="thirdPage__cardDesc">

                                </div>
                                <div class="thirdPage__cardText">
                                    Создаёте внутри платформы карточку товара с вашим дизайном. Ваша карточка
                                    автоматически
                                    попадает на OZON и Wildberries и становится доступной для покупки. С каждой продажи
                                    мы выплачиваем вам гонорар. Количество заработанных денег вы сможете отследить в своём
                                    профиле
                                    на нашей платформе
                                </div>
                                <div class="thirdPage__cardIconsContainer">
<!--                                    <div class="thirdPage__smileContainer thirdPage__smile1">-->
<!--                                        <img class="thirdPage__smile" src="images/smile_5.png" alt="смайл">-->
<!--                                    </div>-->
<!--                                    <div class="thirdPage__smileContainer thirdPage__smile2">-->
<!--                                        <img class="thirdPage__smile" src="images/smile_6.png" alt="смайл">-->
<!--                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="thirdPage__bottomContainer">
                    <a class="redButton btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn" href="/registration">НАЧАТЬ</a>
                    <a class="videoLink" href="#videoPage">Как работает сервис</a>
                </div>
                <br><br>

        </div>

        <div id="videoPage" class="videoPage">
            <div class="videoPage__topBorder"></div>
            <div class="content container">
                <h2 class="videoPage__title">Как зарабатывать на картинках</h2>
                <video class="videoPage__video" src="media/video.mp4" width="100%" controls="controls"
                    poster="/assets/images/preview.jpg">
                    Ваш браузер не поддерживает видео
                </video>

            </div>
        </div>
        <div id="lastPage" class="lastPage">
            <div class="lastPage__topBorder"></div>
            <div class="content container">
                <a href="/registration" class="redButton lastPage__button btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn">НАЧАТЬ</a>
            </div>

        </div>
    </div>


<footer class="footer">
<div class="container-fluid d-flex justify-content-between">
<span class="text-muted d-block text-center text-sm-start d-sm-inline-block" id="currentYearText"><span id="currentYear"></span> Kartink.in - создавайте картинки для товаров на WB и Ozon</span>
        <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">
    <a href="{{ url_for('views.confident') }}">Политика конфиденциальности</a>
</span>
    <span class="text-muted d-block text-center text-sm-start d-sm-inline-block">
    <a href="{{ url_for('views.oferta') }}">Оферта</a>
</span>
<span class="float-none float-sm-end mt-1 mt-sm-0 text-end"> <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap</a></span>
</div>
</footer>
<script> const now = new Date(); const currentYear = now.getFullYear(); document.getElementById("currentYear").innerText = currentYear;</script>

</div>


</body>
</html>